@inherits LayoutComponentBase

<PageTitle>WeatherApp</PageTitle>

<div class="min-h-screen bg-gradient-to-br from-slate-50 to-slate-200 dark:from-slate-800 dark:to-slate-950 transition-colors duration-300">

    <main class="flex flex-col min-h-screen">

        <article class="w-full flex-grow">
            @Body
        </article>

    </main>

</div>